[TypeSpec] Date-time parsing assumes UTC format

Examples:
https://github.com/Azure/azure-sdk-for-rust/blob/main/sdk/typespec/typespec_client_core/src/date/mod.rs#L67
https://github.com/Azure/azure-sdk-for-rust/blob/main/sdk/typespec/typespec_client_core/src/date/mod.rs#L88

TypeSpec supports date-times in UTC and with a time zone offset. If the helpers can't be parameterized to work with both in serde, then perhaps we'll need variants that don't enforce UTC.

While we don't have any tests/services that require a date-time with an offset, we'll need to support this at some point to align with TypeSpec.

I think this only applies to RFC 1123 date-times, which, at least for Azure services, must be GMT: https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#http-header-date-values. That said, I appreciate that for TypeSpec we probably need to support that and work for RFC 1123 dates will be needed.

RFC 3339 date-times support offsets already, though we do have some bugs in the code that don't properly capture the UTC converted date before serializing. That said, I don't know if we should convert to UTC from a local time offset when roundtripping. @JeffreyRichter or @johanste, should we?

It's safer not to always convert to UTC. Any language date-time type should have a function that easiliy converts to UTC if the customer's application desires this.

TypeSpec makes the distinction. i.e. it has `utcDateTime` and `offsetDateTime` (see [docs](https://typespec.io/docs/language-basics/built-in-types/#date-and-time-types)). So, for `utcDateTime` I believe it's expected that we convert to UTC when serializing and deserialize as UTC (I would assume in this case the value sent by the service is already in UTC, else should we convert it?).

OK, UTC assumes UTC - I can accept this.
No, we should not convert it. If the service sends a non-UTC time, that is a service bug as it is not living up to its contract.
Implicitly converting it hides the bug. I remember the SDK team actually did have an issue related to this be we did auto-convert and this caused a problem. I can't remember the details though.


Seems like we'll need pairs of RFC 3339 and 1123 de/serialization helpers for serde then. One pair that always converts and one that doesn't. `utcDateTime` - and its conceptional equivalent - should probably be the more discoverable pair, so maybe `parse_rfc3339` and `to_rfc3339` are the names for UTC while we use `parse_rfc3339_offset` and `to_rfc3339_offset` for `offsetDateTime`. Thoughts? /cc @cataggar @demoray 

I think the SDK should _never_ convert. Being permissive and introducing "magic" is an invitation for a misunderstanding, unexpected behavior, and bugs.
We could return an error if the client OR service gives us something we don't expect. Or, we could just let the (de)serializer do what ever it does as all sides have to live by the contract. We have said that SDKs do not do client-side validation, and I stick by this. And, having code to validate that service is working correctly doesn't isn't prudent to me either.

So, if the service requires the datetime to be in UTC format we will require that the customer perform this conversion (assuming it's documented)? Or do we expect the service to perform the conversion?

I ask because we had a bug in `azblob` where we were not converting some `time.Time` values to UTC so the service would reject the call.

The customer should give us UTC or the service should fail the request.

> I think the SDK should _never_ convert. Being permissive and introducing "magic" is an invitation for a misunderstanding, unexpected behavior, and bugs. We could return an error if the client OR service gives us something we don't expect. Or, we could just let the (de)serializer do what ever it does as all sides have to live by the contract. We have said that SDKs do not do client-side validation, and I stick by this. And, having code to validate that service is working correctly doesn't isn't prudent to me either.

That makes sense and I *mostly* agree with the caveat being that we should make sure the docs specify that a UTC date is required or, conversely, an offset is accepted; otherwise, callers don't know that *they* should make sure their date-times are UTC or not.

So maybe the emitter adds a different pre-canned blurb for parameter docs whether UTC is required, or offsets are acceptable? /cc @RickWinter 

While I'm not against emitting a blurb, it gets a little funny if the tsp docs already call this out (we don't have to decide on this aspect right now).

> While I'm not against emitting a blurb, it gets a little funny if the tsp docs already call this out (we don't have to decide on this aspect right now).

Customers don't read the TypeSpec docs. They read the learn.microsoft.com docs which, for now, are generated from the swaggers; and from the SDK doc comments generated from TypeSpec.

The tsp docs are emitted as code doc comments. So, if the doc comments already state "must be in UTC format", if we also emit a blurb stating this it's redundant.

That's "if the doc comments". They don't always, and it'd be burdensome to expect every author to do that. It's redundant *for them* if they already specified the type as `utcDateTime`.

Don't we require teams to document all model fields? If not, how do they know their purpose?

At any rate, it's a mixed bag. e.g. [here](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/communication/Communication.JobRouter/models.tsp#L494-L496) they document the UTC requirement but then they [don't](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/communication/Communication.JobRouter/models.tsp#L535-L537) in the same spec. :(

In my experience, most don't mention it's UTC because it's either assumed (`date-time` in swagger) or explicit (`utcDateTime` in TypeSpec). IMO, emitters should add a blurb so authors don't have to duplicate effort and likely forget/confuse. @JeffreyRichter @johanste what do you think?

We'll support TZ offsets for RFC 3339 but not RFC 7231, which replaces RFC 1123; though, technically, 7231 has been obsolesced by 9110 but we still refer to 7231 for [TypeSpec](https://typespec.io/docs/libraries/http/encoding/#utcdatetime-and-offsetdatetime) and [REST API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#http-header-date-values).

Thus, the purpose of this issue when opened is obsolete. After talking with @JeffreyRichter, we should be fine to assume/dictate that RFC 7231 (1123) dates are all GMT, since that's what 7231 recommends as do we in documentation. We can revisit that and add 1123 support later if needed.

As such, I'm going to resolve this with a PR to add more testing and rename "1123" functions to "7231".

/cc @cataggar